* {
    margin: 0;
    padding: 0;
}

/* Responsive desgin  */

@media (max-width: 720px) {
    .container {
        flex-direction: column;
    }

    .item-left {
        width: 100%;
        height: 30%;
    }

    .item-right {
        width: 100%;
    }

    .login {
        align-items: center;
    }

    .box {
        width: 290px;
        height: 290px;
        padding: 10px;
    }

    .left-side {
        width: 100%;
        height: 20%;
    }

    .main {
        flex-direction: column;
        height: auto;
    }
}